<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.byronkatz"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name" 
    	android:name="RealEstateMarketAnalysisApplication">
        <activity android:name=".EntryScreenActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".RentalActivity" />
		<activity android:name=".DataPagesActivity" />
		<activity android:name=".AddressActivity" />
		<activity android:name=".FinancialEnvironmentActivity" />
		<activity android:name=".GraphActivity" />
		<activity android:name=".LoadSavedValuesActivity" />
		<activity android:name=".LoanActivity" />
		<activity android:name=".SaleActivity" />
		<activity android:name=".SetDataValuesActivity" />
		<activity android:name=".TaxesActivity" />
		

<!-- A LOT to do here.  Clean up, add stuff, etc. -->
    </application>
</manifest>